section {
    text-align: center;
    
}

section{
    div{
        margin: 0 auto;
    }
    }

    .infokarta {
      color:rgb(230, 215, 241);
    }
    .location {
        background: rgb(197, 196, 214);
        background: linear-gradient(90deg, rgb(29, 29, 94) 0%, rgb(47, 47, 113) 35%, rgba(97,49,115,1) 100%);

    }