.main {
  width: 1000px;
  height: 600px;
  margin: auto;
  margin-top: 100px;
  background-color: orange;

  .containerTime {
    display: flex;
    flex-wrap: wrap;

    

    .timeInDay2 {
      border: 2px solid red;
      margin: 10px 10px;
      color: black;
    }
  }
}
