.mainCalendar {
  border: 2px solid green;
  width: 900px;

  flex-wrap: wrap;
  height: 250px;

  .daysContainerCalendar {
    border: 2px solid black;
    width: 800px;
    margin-left: 30px;
    display: flex;
    margin-top: 30px;
    flex-wrap: wrap;
    justify-content: center;

    .days {
      border: 2px solid green;
      width: 100px;
      margin: 5px 5px;
    }
  }
}
